.container{
    background-color: gray;
    width:fit-content;
    height: auto;
    margin:auto;
    margin-top: 100px;
    padding:25px;
    border-radius: 5px;

}
h4{
    color:white;
    font-size:20px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight:300;
}
.field{
    display:grid;
    margin-bottom: 8px;
}
.field input{
    height:30px;
    border-radius:5px;
    border: none;
    padding-left:10px;
    margin-top:3px;
    outline: none;
}
.btn{
    display:grid;
    justify-content: center;
    width:100%;
    margin-top:8px;
}
.btn button{
    width:100%;
    background-color: gray;
    border:2px solid #fff;
    border-radius: 5px;
    color:#fff;
    padding:10px 40px;
}

.btn button:hover{
    background-color: #fff;
    border:2px solid #fff;
    color:gray;
    padding:10px 40px;
    cursor: pointer;
}

.name{
    display:flex;
}
.name .field:nth-child(1){
    margin-right: 5px;
}